<div class="container">
	<div class="row">
		<div class="col-md-3">
			<% unless user_signed_in? %>
			<%= render partial: 'landings/login' %>
			<% end %>
			<%= render partial: 'landings/footer' %>
		</div>
		<div class="col-md-9" id="points">
			<%= render partial: 'points/point', collection: @points %>
		</div>
		<div class="col-md-9 col-md-offset-3 paginator">
			<div class="content-box">
				<%= paginate @points %>
			</div>
		</div>
	</div>
</div>
