<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="devise">
        <div class="content-box">
          <h1>A modest request</h1>
          <%= render partial: 'devise/registrations/form' %>
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css"> #profile_link { display: none; } </style>

<%= render partial: 'landings/footer' %>