<div class="footer content-box landing">

	<p>
		Privacy
		&middot;
		Terms
		&middot;
		About
		&middot;
		Help
	</p>

	<p><img src="<%=image_path('otpol.png')%>" alt="Otpol" /></p>

		Copyright &copy; 2016<br />
		One Thousand Points of Light 


</div>

