<div class="footer content-box landing">

	<p>
		Privacy

		Security

		Terms

		About

		API

		<a href="/feed.rss">RSS</a>

		<a href="https://github.com/linenoise/otpol">Source</a>
	</p>

	<p><img src="<%=image_path('otpol.png')%>" alt="Otpol" /></p>

	Copyright &copy; 2016<br />
	One Thousand Points of Light 

</div>

