<div class="content-box landing">
	<h3>Here today</h3>
	<ul>
		<% @here_today.each do |user| %>
		<li class="active person">
			<a href="<%= person_path(:id => user.username) %>">
			    <%= image_tag(user.avatar.url(:thumb), class: 'thumbnail') %>
				<span class="name"><%= user.display_name %></span>
			</a><Br />
			<em><%= user.place %></em>
		</li>
		<% end %>
	</ul>
</div>

