<div class="content-box landing">
	<h3>New people</h3>
	<ul>
		<% @newcomers.each do |user| %>
		<li>
			<a href="<%= person_path(:id => user.username) %>">
				<span class="name"><%= user.display_name %></span>
			</a>
		</li>
		<% end %>
	</ul>
</div>
