<% if @people_to_follow.length > 0 %>
<div class="content-box landing">

	<h3>People to follow</h3>
	<ul>
		<% @people_to_follow.each do |user| %>
		<li class="active person to_follow">
			<a href="<%= person_path(:id => user.username) %>">
			    <%= image_tag(user.avatar.url(:thumb), class: 'thumbnail') %>
				<span class="name"><%= user.display_name %></span>
			</a><br />
			<%= link_to 'Follow', follow_user_path(user.username), class: "btn btn-primary" %>
		</li>
		<% end %>
	</ul>

</div>
<% end %>
