<div class="landing container">
	<div class="row">
		<div class="col-md-9">

			<div class="content-box">
			<%= render partial: 'points/new' %>
			</div>

			<% @points.each do |point| %>
			<%= render partial: 'points/point', locals: {point: point} %>
			<% end %>

		</div>
		<div class="col-md-3">

			<div class="content-box">
			TODO recent happenings here
			</div>

			<div class="content-box landing">
			<h3>Active today</h3>
			<ul>
			<%= render partial: "person", collection: User.active.sort { |x, y| x.display_name <=> y.display_name } %>
			</ul>
			</div>

			<div class="content-box landing">
			<h3>Newcomers</h3>
			<ul>
			<%= render partial: "person", collection: User.newcomers.sort { |x, y| x.display_name <=> y.display_name } %>
			</ul>
			</div>

		</div>
	</div>
</div>