<div class="container">
	<div class="row">

		<div class="col-md-12">
			<div class="content-box header">
			  <h3 style="margin-top: 8px;">Your profile</h3>
			</div>

			<div class="content-box">
			<%= render :partial => 'form' %>
			</div>
		</div>	
	</div>
</div>