<div class="container">
	<div class="row">
		<div class="col-md-12">

			<hr class="footer"/>

			<div class="footer content-box">
				<img src="<%=image_path('otpol.png')%>" alt="Otpol" />
			</div>

			<div class="footer content-box">

				Privacy

				&middot;

				Terms

				&middot;

				About

				&middot;

				Help

			</div>

			<div class="footer content-box">
				One Thousand Points of Light &copy; 2016
			</div>

		</div>
	</div>
</div>






