<div class="container">
  <div class="header row">
    <div class="col-md-9">
      <div class="content-box">
        <a href="<%= root_path() %>">One thousand points of light</a>
      </div>
    </div>
    <div class="col-md-3" id="profile_link">
      <div class="content-box">
        <% if defined?(Devise) && user_signed_in? %>
          <%= link_to '@' + current_user.username, person_path(:id => current_user.username ) %>
        <% else %>
          <%= link_to 'Join in', new_user_registration_path %>
        <% end %>
        &nbsp;
      </div>
    </div>
  </div>
</div>