<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="content-box document">

				<h1>Privacy Policy</h1>

				<p>One Thousand Points of Light ("OTPOL") is committed to protecting the privacy of your personal information. This policy is written to help you understand the full life cycle of your data on the service, and what choices you have in the handling of your data.</p>

				<p>OTPOL may periodically update this Privacy Policy. If we choose to do so, we will notify you about significant changes by placing a prominent notice on our site or by sending a notice to the email address specified in your account.</p>

				<p>Any questions about this Privacy Policy should be directed to <%= link_to 'support@onethousandpointsoflight.com', 'mailto:support@onethousandpointsoflight.com' %>.</p>

				<h2>Data we collect</h2>

				<p>OTPOL collects information that you volunteer during your use of the service. This includes, but is not limited to:</p>

				<ul>
					<li>Site registration,</li>
					<li>Filling out your profile,</li>
					<li>Sending messages,</li>
					<li>Making comments,</li>
					<li>Submitting writing,</li>
					<li>Aggregate log information on what pages users access or visit, and</li>
					<li>The email addresses of anyone who communicate with us over email.</li>
				</ul>

				<h3>Cookies</h3>

				<p>A cookie is a small amount of information that is transmitted from our web servers and stored on your computer. Cookies typically contain an anonymous but unique identifier. Cookies are required to use the service. We use cookies to maintain information on your current session, and all cookies used by the service expire after a period of time to protect you from others accidentally accessing your account.</p>

				<h2>How your data is used</h2>

				<p>OTPOL uses your data data for the following general purposes:</p>

				<ul>
					<li>Providing the service</li>
					<li>Identification, authentication, and authorization within the services</li>
					<li>Contact regarding the services</li>
				</ul>

				<h2>Transmission and storage of your data</h2>

				<ul>
					<li>OTPOL uses third-party vendors to provide hosting and the hardware, software, storage, networking, and related technology required to provide the service.</li>
					<li>OTPOL owns the software, databases, and rights to the service;</li>
					<li>You retain all rights to your data, subject to this Privacy Policy and our <%= link_to 'Terms of Service', legal_terms_path() %>.</li>
				</ul>

				<h2>Transfer and disclosure of data</h2>

				<p>The information we collect is used to provide and improve the service, and is not shared with or sold to other organizations for any commercial purpose, except:</p>

				<ul>
					<li>To provide products or services you've requested,</li>
					<li>When we have your explicit permission,</li>
					<li>It is necessary as required by law, in situations relating to potential threats to the physical safety of any person,</li>
					<li>To comply with subpoenas,</li>
					<li>If OTPOL is aquired by or merges with another company.</li>
				</ul>

				<p>If merger or sale of the company occurs, OTPOL will notify you before your information is transfered if it would cause your information to be subject to a different privacy policy.

				<h2>European Union and Switzerland Safe Harbor</h2>

				<p>If you choose to provide your personal information or data to OTPOL, you consent to the transfer and storage of that information and those data on OTPOL's servers located in the United States.</p>

			</div>
		</div>
	</div>
</div>