<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="content-box">

				<h1>Terms of Service</h1>

			    <p>One thousand points of light's (OTPOL) services and products are provided by a free association of people in the United States. By using the onethousandpointsoflight.com web site or Application Programming Interface ("Service"), any OTPOL applications ("Product"), you are agreeing to be bound by the following terms and conditions of service ("Terms"). Please read these Terms carefully, and <%= link_to 'contact us', contact_guide_path %> with any questions. By accessing or using our Service, you agree to be bound by these Terms and by our <%= link_to 'Privacy Policy', legal_privacy_path() %>.</p>

			    <h2>A. Your Account</h2>

			    <ol>
			      <li>You must be 13 years or older to use the Service.</li>
			      <li>You may use our Service if and only if you can form a binding contract with OTPOL, and only in compliance with all applicable laws and these Terms.</li>
			      <li>When you open or update your OTPOL account, you must provide accurate and complete information. This information shall include a valid email address.</li>
			      <li>Accounts registered through any automated methods are not permitted.</li>
			      <li>If you open an account on behalf of a company, organization, or other legal entity, then "you" includes both you and that legal entity, and you represent and warrant that you are authorized to bind that legal entity to these Terms and to grant all permissions and licenses provided in these Terms on that legal entity's behalf.</li>
			      <li>Your Account may only be used by one person&mdash;it is not permitted to share a single login between multiple people.</li>
			      <li>You are responsible for all activity that occurs and Content that is posted through your account.</li>
			      <li>You are responsible for keeping your password secure and known only to you. OTPOL cannot and will not be liable for any loss or amage from your failure to comply with this security and privacy obligation.</li>
			      <li>You may not use the Service for any illegal or unauthorized purpose. You must not, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright or trademark laws).</li>
			      <li>Violation of any of the Terms will result in the termination of your Account.</li>
			      <li>Any one person or legal entity may not maintain more than one account.</li>
			    </ol>

			    <h2>B. Account Cancellation and Termination</h2>

			    <ol>
			      <li>Should you wish to discontinue your use of the Service, you are responsible for canceling your account through the Service. A request over anything other than the Service (such as via email or phone) is not considered cancellation.</li>
			      <li>You can cancel your account at any time through the Service itself.</li>
			      <li>Upon cancellation, your Content and Account will be immediately and irrecoverably deleted from the Service.</li>
			      <li>OTPOL, in its sole discretion, has the right to suspend or terminate your Account and refuse any and all current or future use of the Service (or any other OTPOL Service) for any reason at any time. Such suspension or termination of the service will result in the deactivation or deletion of your Account, and the forfeiture and relinquishment of all Content in your Account.</li>
			      <li>OTPOL reserves the right to refuse service to anyone at any time for any reason.</li>
			      <li>In the event that OTPOL suspends or terminates an account, unless that suspension or termination was due to unlawful content, OTPOL will make a reasonable effort to provide that account's owner with a copy of their account's contents upon request.</li>
			    </ol>

			    <h2>C. Modification to Service or Terms</h2>

			    <ol>
			      <li>OTPOL reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Service (or any part thereof) with or without notice.</li>
			      <li>OTPOL shall not be liable to you or to any third-party for any modification, price change, suspension or discontinuance of the Service.</li>
			      <li>If OTPOL makes material changes to these Terms, we will inform you by posting a notice on our site or emailing you before the changes become effective.</li>
			      <li>Any new features, tools, or resources that enhance the Service shall be subject to these Terms.</li>
			      <li>Continued use of the Service after any such changes shall constitute your consent to those changes.</li>
			      <li>The current version of the Terms is available at <%= legal_terms_path %>.</li>
			    </ol>

			    <h2>D. Intellectual Property Rights</h2>

			    <ol>
			      <li>OTPOL claims no intellectual property rights over the material you provide to the Service. All material you provide remains yours.</li>
			      <li>By submitting Content to the Service, you agree to allow others to view your content.</li>
			      <li>OTPOL does not screen content that is provided by you or any other users, but OTPOL and its designees have the right (but not the obligation) in their sole discretion to refuse or remove any Content that is available via the Service.</li>
			      <li>You shall defend OTPOL against any claim, demand, suit or proceeding made or brought against OTPOL by a third-party alleging that Your Content, or Your use of the Service in violation of this Agreement, infringes or misappropriates the intellectual property rights of a third-party or violates applicable law, and shall indemnify OTPOL for any damages finally awarded against, and for reasonable attorney’s fees incurred by, OTPOL in connection with any such claim, demand, suit or proceeding; provided, that OTPOL (a) promptly gives You written notice of the claim, demand, suit or proceeding; (b) gives You sole control of the defense and settlement of the claim, demand, suit or proceeding (provided that You may not settle any claim, demand, suit or proceeding unless the settlement unconditionally releases OTPOL of all liability); and (c) provides to You all reasonable assistance, at Your expense.</li>
			      <li>The look and feel of the Service is copyright &copy; 2016 by OTPOL.</li>
			    </ol>

			    <h2>E. Application Program Interface</h2>

			    <p>Through your Account, you may access the Service through an Application Program Interface ("API"). Any use of that API is bound by these Terms plus the following terms:</p>

			    <ol>
			      <li>You expressly understand and agree that OTPOL shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if OTPOL has been advised of the possibility of such damages), resulting from your use of the API or third-party products that access data via the API.</li>
			      <li>Abuse or excessively frequent requests to the Service via the API may result in the temporary or permanent suspension of your account's access to the API.</li>
			      <li>OTPOL, in its sole discretion, will determine abuse or excessive usage of the API, and will make a reasonable attempt via email to warn the account owner prior to Account suspension.</li>
			      <li>OTPOL reserves the right at any time to modify or discontinue (temporarily or permanently) your access to the API (or any part thereof) with or without notice.</li>
			    </ol>

			    <h2>F. General Provisions</h2>

			    <ol>
			      <li>You agree to use the Service at your own risk. The service is provided on an "as is" and "as available" basis.</li>
			      <li>Some Products of OTPOL may be software that is downloaded to your computer, tablet, phone, or other decide. You agree that we may automatically upgrade those Products, and that these Terms will apply to any such upgrades.</li>
			      <li>Translations, where available, are provided exclusively for user's convenience; these terms cover the use of the site in any available language, though refer to components of the Service by their English names.</li>
			      <li>Support for OTPOL is only available in English, via email.</li>
			      <li>You understand that OTPOL uses third-party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run the Service.</li>
			      <li>You must not modify, adapt or hack the Service or modify another website so as to falsely imply that it is associated with the Service, OTPOL, or any other OTPOL service.</li>
			      <li>You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service without the express written permission by OTPOL.</li>
			      <li>Certain conduct and Content are prohibited on the Service, however you understand and agree that OTPOL cannot be responsible for the Content posted to the Service and that you nonetheless may be exposed to prohibited materials.</li>
			      <li>OTPOL may, but has no obligation to, remove Content and Accounts containing Content that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, pornographic, obscene or otherwise objectionable or violates any party's intellectual property or these Terms.</li>
			      <li>Verbal, physical, written or other abuse (including threats of abuse or retribution) of any OTPOL customer, employee, member, or officer will result in immediate account termination.</li>
			      <li>You understand that the technical processing and transmission of the Service, including your Content, may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices.</li>
			      <li>You must not upload, post, host, or transmit unsolicited email, SMSs, or "spam" messages.</li>
			      <li>You must not transmit any worms or viruses or any code of a destructive nature.</li>
			      <li>If your bandwidth usage significantly exceeds the average bandwidth usage (as determined solely by OTPOL) of other OTPOL customers, we reserve the right to immediately disable your account or throttle your file hosting until you can reduce your bandwidth consumption.</li>
			      <li>OTPOL does not warrant that (i) the service will meet your specific requirements, (ii) the service will be uninterrupted, timely, secure, or error-free, (iii) the results that may be obtained from the use of the service will be accurate or reliable, (iv) the quality of any products, services, information, or other material purchased or obtained by you through the service will meet your expectations, and (v) any errors in the Service will be corrected.</li>
			      <li>You expressly understand and agree that OTPOL shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if OTPOL has been advised of the possibility of such damages), resulting from: (i) the use or the inability to use the service; (ii) the cost of procurement of substitute goods and services resulting from any goods, data, information or services purchased or obtained or messages received or transactions entered into through or from the service; (iii) unauthorized access to or alteration of your transmissions or data; (iv) statements or conduct of any third-party on the service; (v) or any other matter relating to the service.</li>
			      <li>The failure of OTPOL to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision. The Terms of Service constitutes the entire agreement between you and OTPOL and govern your use of the Service, superseding any prior agreements between you and OTPOL (including, but not limited to, any prior versions of the Terms of Service). You agree that these Terms of Service and Your use of the Service are governed under the law of the State of Washington, United States of AMerica.</li>
			      <li>Questions about the Terms of Service should be sent to <%= link_to 'support@onethousandpointsoflight.com', 'mailto:support@onethousandpointsoflight.com' %>.</li>
			    </ol>

			</div>
		</div>
	</div>
</div>