<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="content-box">

				<h1>Contact us</h1>

				<p>
					<strong>Email</strong><br />
					<a href="mailto:support@onethousandpointsoflight.com">support@onethousandpointsoflight.com</a>
				</p>

				<p>
					<strong>Phone</strong><br />
					+1 (503) 512-9894
				</p>

			</div>
		</div>
	</div>
</div>