/*
*= require_tree .
*= stub active_admin
*= require_self
*/
@import "bootstrap_configuration";
@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
	background-color: #14162d;
	border: 0px solid #000;
	border-bottom: 1px solid #616070;
	border-radius: 0px;
}

.navbar-default .navbar-brand {
	// margin-top: 0px;
	padding-top: 7px;
}

.navbar-default .navbar-nav > li > a {
	font-size: 10pt;
	font-weight: lighter;
	letter-spacing: 1px;
	color: #EEE;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #fffcf3;
}

.content-box {
	background-color: #FFF;
	color: #333;
	padding: 1em;
	margin-bottom: 1em;
	border-radius: 5px;
	border: 1px solid #DDD;
	border-top-color: #E6E6E6;
	border-bottom-color: #C7C7C7;
}


.footer {
	text-align: center;
	background-color: #efeef2;
	border: 0px;
	padding: 0em;
	color: #777;
	font-size: 10pt;
}

hr.footer {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.footer > img {
	height: 70px;
	width: 70px;
}









// Give everything in 'yield' margin to separate it.
.yield {
  margin: 30px;
}

// Constrain forms for models (scaffolded models) so they aren't full page width.
.form-model {
  max-width: 750px;
}

.form-user {
  max-width: 450px;
}
