/*
*= require_tree .
*= stub active_admin
*= require_self
*/
@import "bootstrap_configuration";
@import "bootstrap-sprockets";
@import "bootstrap";



@font-face {
	font-family: 'avenir';
	font-style: normal;
	font-weight: normal;
//	src: local('Avenir Next LT Pro Medium'), url('AvenirNextLTPro-Regular.woff') format('woff');
	src: url('AvenirNextLTPro-Medium.eot?#iefix') format('embedded-opentype'), 
	     url('AvenirNextLTPro-Medium.woff') format('woff'), 
	     url('AvenirNextLTPro-Medium.ttf') format('truetype'), 
	     url('AvenirNextLTPro-Medium.svg') format('svg');
}


  


h1, h2, h3, h4, h5, .btn-join {
	font-family: 'avenir';
	font-weight: bold;
}

body {
	font-family: helvetica, arial, sans-serif;
}



.navbar {
	background-color: #14162d;
	border: 0px solid #000;
	border-bottom: 2px solid #BBB;
	border-radius: 0px;
	margin-bottom: 0px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
	margin: 2px 0.5em 0px 0.5em;
	font-family: 'avenir';
	font-size: 14pt;
	color: #E6E6E6;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > li > a:hover {
	color: #fffcf3;
}

.navbar-right {
	margin-right: 0.5em;
}



.container {
	margin-top: 1em;
}

.container.guest {
	margin-top: 0em;
}

.alert {
	margin-bottom: 0px;
}



.content-box {
	background-color: #FFF;
	color: #333;
	padding: 1em;
	margin-bottom: 1em;
	border-radius: 5px;
	border: 1px solid #DDD;
	border-top-color: #E6E6E6;
	border-bottom-color: #C7C7C7;
}

.content-box a {
	color: #5191c0;
}

.content-box a.btn {
	color: white;
}

.content-box.landing .text-field {
	margin-bottom: 5px;
}

.hero.content-box {
	text-align: center
}

.hero .brand {
	font-family: 'avenir';
	font-weight: bold;
	font-size: 22pt;
	// width: 400px;
	// height: 96px;
	// margin: 0.5em 0em;
}

.hero img.logo {
	width: 100px;
	height: 100px;
	margin: 0.5em 0.5em 0em 0,5em;
}

.hero hr {
	margin: 0.5em auto 1.5em auto;
    border: 0;
    height: 7px;
    width: 92px;
    background: #333;	
}

.hero p {
	font-family: 'avenir';
	font-size: 14pt;
}

.hero .btn-join {
	margin-top: 0.75em;
}



.devise h1 {
	margin-top: 0em;
}
.devise .content-box {
	margin-top: 4em;
	margin-bottom: 6em;
}
.devise .text-field {
	margin-bottom: 5px;
}
.devise .btn-primary {
	width: 100%;
	text-align: left;
}

.form-group > label {
	padding-top: 0px;
}

.form-hint {
	text-size: 10pt;
	color: #777;
	padding-top: 0.25em;
	padding-left: 0px;
}




.profile h2, .landing h2 {
	font-size: 24px;
	margin-top: 0em;
	margin-bottom: 0.5em;
}

.profile h3, .landing h3 {
	font-size: 18px;
	margin-top: 0em;
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #DDD;
}

h3.username {
	border-bottom: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.profile .header img, img.thumbnail {
	margin-bottom: 1em;
	height: 182px;
	width: 182px;
	border-radius: 5px;
	border: 1px solid #DDD;
	border-top-color: #E6E6E6;
	border-bottom-color: #C7C7C7;
}

.profile .btn, form .btn {
	width: 182px;
}

.profile .btn-edit {
	margin-top: 1em;
}

.profile .btn-default {
	background-color: #AAA;
}

.profile ul, .landing ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.profile ul a, .profile ul li, .landing ul a, .landing ul li {
    display: block;
    padding: 0px;
}

.profile ul li, .landing ul li {
    padding-bottom: 0.5em;
}

.profile ul li:last-child, .landing ul li:last-child {
	padding-bottom: 0px;
}

img.thumbnail {
	margin: 0px 5px 5px 0px;
	padding: 0px;
	height: 45px;
	width: 45px;
	display: inline;
}

.active.person {
    white-space: nowrap;
    overflow: hidden;
   	height: 60px;
}

.active.person .thumbnail {
	float: left;
}

.active.person .name {
	font-weight: bold;
}

.landing hr {
	margin: 0em 0em .75em 0em;
    border: 0;
    height: 1px;
    background: #DDD;
    // background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.landing > a {
	font-weight: bold;
}


.point > .author {
	color: #999;
	font-size: 10pt;
	font-style: oblique;
}

.point > .description, textarea.new-point {
	font-size: 16pt;
	padding: 32px 64px;
}


.point > hr {
	margin: 0.5em 0em;
}

.point > .actions {
	margin-bottom: 0em;
	text-align: right;
	font-size: 10pt;
	float: right;
}

.point > .actions a {
	color: #999;
}

textarea.new-point {
	margin-bottom: 1em;
}

.new-point .text-field {
	margin-bottom: 10px;
}




.footer {
	text-align: center;
	color: #777;
	font-size: 10pt;
}

.footer img {
	height: 70px;
	width: 70px;
}

.footer h3 {
	text-align: left;
}






// Give everything in 'yield' margin to separate it.
.yield {
  margin: 30px;
}

// Constrain forms for models (scaffolded models) so they aren't full page width.
.form-model {
  max-width: 750px;
}

.form-user {
  max-width: 450px;
}
