/* Color Palette */

/* Background colors */

$body-color:              #E9E9EA;
$inset-color:             #FAFAF9;
$button-color: 			  #555555;
$button-hover-color:      #595959;

/* Foreground colors */

$text-color:              #333332;
$link-color:              #5191C0;
$link-hover-color:        #71B1E0;
$button-text-color:       #E9E9EA;
$button-text-hover-color: #FCFCFC;
$rule-color:              #E6E6E6;

/* Border colors */

$border-top:              #E6E6E6;
$border-side:             #DDDDDD;
$border-bottom:           #C7C7C7;
