/* Font stacks */

$body-font:       'Roboto',     helvetica, arial, sans-serif;
$heading-font:    'Montserrat', helvetica, arial, sans-serif;
$title-font:      'Montserrat', helvetica, arial, sans-serif;

/* Typeface declarations */

@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');
